{% extends 'base.html.twig' %}

{% block title %}Prescription index{% endblock %}

{% block body %}

<div class="container">
    <h1>Prescription</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Doctor</th>
                    <th>Created_at</th>
                    <th>Qrcode</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for prescription in prescriptions %}
                <tr>
                    <td>{{ prescription.name }}</td>
                    <td>{{ prescription.createdAt ? prescription.createdAt|date('Y-m-d') : '' }}</td>
                    <td>{{ prescription.qrcode }}</td>
                    <td>
                        <button type="button" class="btn btn-outline-primary"><a href="{{ path('prescription_show', {'id': prescription.id}) }}">SHOW</a></button>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
