{% extends 'base.html.twig' %}

{% block title %}New Prescription{% endblock %}

{% block body %}
    <div class="container">
        <h1>Create new Prescription</h1>
        {{ include('prescription/_form.html.twig') }}
        <a class="btn btn-dark mt-2" href="{{ path('prescription_index') }}">My prescriptions</a>
    </div>
{% endblock %}
