{% extends 'base.html.twig' %}

{% block title %}New Booking{% endblock %}

{% block body %}
    <div class="container">
        <h1>Create Event</h1>

        {{ include('booking/_form.html.twig') }}

        <a class="btn btn-primary" href="{{ path('booking_calendar',{'id' : '1'}) }}">Calendar</a>
    </div>
{% endblock %}
