<nav class="navbar navbar-expand-lg d-flex justify-content-center navbar-dark bg-primary">
    {% if app.user %}
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="navbar-brand logo ml-3" href="{{ path('prescription_index') }}">Go-Pharma</a>
        </li>
    </ul>
    <a class="btn btn-sm btn-danger right mr-3" href="{{ path('app_logout') }}"><i class="fas fa-sm fa-sign-out-alt"></i></a>
    {% else %}
    <a class="navbar-brand logo ml-3" href="{{ path('prescription_index') }}">Go-Pharma</a>
    {% endif %}
</nav>