{% extends 'base.html.twig' %}

{% block title %}Your Direction{% endblock %}

{% block body %}
    <div class="container my-5 ">
        <h1 class="text-center">Your Direction</h1>
        <a class="btn btn-dark my-3" href="{{ path('prescription_index') }}">Back</a>
        <div class="row justify-content-center mt-5">
            <img class="img-fluid" src="https://i.postimg.cc/rsTb4jJy/Capture-d-e-cran-2020-06-25-a-12-06-34.png"  alt="">
        </div>
    </div>
{% endblock %}
